
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Caches
CLeaguesApp/__pycache__/*
CLeaguesApp/migrations/__pycache__/*
CLeaguesApp/templatetags/__pycache__/*
CLeaguesApp/middleware/__pycache__/*
CLeaguesProj/__pycache__/*

# Media
media/athletes/*
media/athletes/*.jpg
media/athletes_mini/*
media/athletes_mini/*.jpg
media/leagues/repo/*
media/tours/repo/*

#####
CLeaguesProj/hiden*.*
hiden*.*
