files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 */12 * * * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            source /opt/python/run/venv/bin/activate
            source /opt/python/current/env
            date > /tmp/date
            python /opt/python/current/app/batch_aws.py > /usr/tmp/batch.out 2> /usr/tmp/batch.err

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
