<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- DoubleList to work needs this scripts -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- DropMenu to work needs this scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Necessary for date-picker -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> -->

    <link rel="stylesheet" href="{% static 'styles/sc_master.css' %}">
    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <title>CycleLeagues</title>
    <link rel="shortcut icon" href="{% static 'images/CycleLeaguesIcon.png' %}" />

  </head>

  <body>

    <script type="text/javascript">
        var alert_visible = localStorage.getItem('alert_visible');
        if (alert_visible != "YES" & alert_visible != "NO")
        {
            localStorage.setItem('alert_visible','YES');
        }
    </script>

    {% if logged_cleagues_status %}

    <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top sc-navbar">
              <div class="navbar-header sc-navbar">
                <img class="logo-on-nav navbar-brand" width="60" height="60" src="{% static 'images/CycleLeaguesIcon.png' %}"/>

                <!-- The code bellow is used to present a hamburger icon in case the navbar collapses -->
                <!-- it is inside navbar header area-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <!--  Code for the hamburger icon wiht 3 lines-->
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                <!-- end of the code collapse+hamburger icon -->

              </div>

              <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
              <!-- if a list of itens goes outside the div collapse it will no collapse into the hamburger -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav sc-navbar">
                    <li> <a href="{% url 'CLeaguesApp:tours_feedURLName' %}">Tours</a></li>
                    <li> <a href="{% url 'CLeaguesApp:leagues_feedURLName' %}">Leagues</a></li>
                    <!-- <li> <a href="{% url 'CLeaguesApp:blankURLName' %}">Palmares</a></li> -->
                    {% if logged_cleagues_athlete.atl_id ==  1 %}
                      <li> <a href="{% url 'CLeaguesApp:test_stravaURLName' %}"><b>Update Ranks</b></a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav navbar-nav navbar-right sc-navbar">
                    <li><a href="{% url 'CLeaguesApp:logoutURLName' %}" id="logout-option">Logout</a></li>
                  </ul>
              </div>
            </nav>
      </div>

      <div class="row main-row">

          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 boxy athlete-summary-column" >
              <div class="athlete-summary jumbotron table-responsive" >
                  <div align=center>
                      <img class="img-circle" width="124" height="124"src="{{ logged_cleagues_athlete.atl_pic.url }}" />
                  </div>
                  <p align=center>{{ logged_cleagues_athlete.atl_name_strava }}</p>
                  <table align=center>
                    <header>
                      <th>Tours</th>
                      <th>Active Leagues</th>
                      <th>Palmares</th>
                    </header>
                    <tr>
                      <td class="not-last-td"><a href="{% url 'CLeaguesApp:tours_feedURLName' %}">{{ stat_qty_tours }}</a></td>
                      <td class="not-last-td"><a href="{% url 'CLeaguesApp:leagues_feedURLName' %}">{{ stat_qty_leagues }}</a></td>
                      <td class="last-td"><a href="#">0</a></td>
                    </tr>
                  </table>
              </div>
          </div>

          <div class="col-lg-10 col-md-8 col-sm-8 col-xs-12 boxy pull-right" >

            {% if notification %}

              <script type="text/javascript">
                  localStorage.setItem('has_notification','YES');
              </script>

              <div class="alert alert-warning alert-dismissable page-alert" id="notification-div">
                  <button type="button" class="close" id="notification-button">
                  <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                  {{ notification }}
              </div>

              <div class="sc-feed jumbotron">

                <p>{{logged_cleagues_athlete.atl_id}}</p>

            {% else %}

              <script type="text/javascript">
                  localStorage.setItem('has_notification','NO');
              </script>

              <div class="sc-feed jumbotron">

            {% endif %}

          {% else%}

            {% if strava_authObj.logged_strava_atl_id == 0 %}

              <!-- Index view for login -->

              <div>
                <div class="index-div">

            {% else %}

            <!-- Index view for Register -->

              <div align=center>
                <div align=left class="jumbotron info-bubble">

            {% endif %}

        {% endif %}

        {% if message %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}

                  {% block body_block %}
                      <!-- everyhting outside this block will be inherited -->
                  {% endblock %}

            </div>
          </div>

      </div>

    </div>

    <script src="{% static 'JS/sc_master.js' %}" charset="utf-8"></script>

  </body>
</html>
