<!DOCTYPE html>
{% extends "CLeaguesApp/base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block body_block %}


  {% if not original_tour %}
  <h3><span class="strong-enhance">Create a Tour </span><span class="minor-text"><i>in league&nbsp;
  {% else %}
  <h3><span class="strong-enhance">Duplicate Tour </span><span class="minor-text"><i>in league&nbsp;
  {% endif %}
    <img class="img-circle" width="60" height="60" src="{{ MEDIA_URL }}{{ league.lg_pic }}"/>
    {{league.lg_name}}</i></span></h3>

  <form class="" action="{% url 'CLeaguesApp:create_tourURLName' %}?league={{league.lg_id}}&original_tour={{original_tour.tr_id}}" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <!-- The codes bellow show the error in form validation -->
    <!-- {% for key, key_errors in league_form.errors.as_data.items %}
        {{ key }}
        {% for error in key_errors %}
            {{error.code}}
        {% endfor %}
    {% endfor %} -->

    <br>
    <div class="fieldWrapper inline-element">
        <label class="field-label top-label" for="{{ tour_form.tr_name.id_for_label }}">Tour Name</label>
        {{ tour_form.tr_name | add_class:'field-box field-box-not-last'}}
    </div>
    <div class="fieldWrapper inline-element">
        <label class="field-label top-label" for="{{ tour_form.tr_ss.id_for_label }}">Scoring System</label>
        {{ tour_form.tr_ss  | add_class:'field-box'}}
    </div>
    <br>
    <br>
    <div class="fieldWrapper inline-element">
        <label class="field-label top-label" for="{{ tour_form.tr_start_date.id_for_label }}">Start Date</label>
        <span class="glyphicon glyphicon-calendar"></span>
        {{ tour_form.tr_start_date | add_class:'field-box' }}&nbsp;&nbsp;
    </div>

    <div class="fieldWrapper inline-element">
        <label class="field-label top-label" for="{{ tour_form.tr_finish_date.id_for_label }}">Finish Date</label>
        <span class="glyphicon glyphicon-calendar"></span>
        {{ tour_form.tr_finish_date | add_class:'field-box' }}
    </div>
    <br>

      {% if tour_form.errors %}
        <br>
      {% endif %}
      <span class="form-error">
        {% if tour_form.non_field_errors %}
          {{ tour_form.non_field_errors | striptags }}<br>
        {% endif %}
        {% if tour_form.tr_name.errors %}
          {{ tour_form.tr_name.errors | striptags }}<br>
        {% endif %}
        {% if tour_form.tr_ss.errors %}
          {{ tour_form.tr_ss.errors | striptags }}<br>
        {% endif %}
        {% if tour_form.tr_start_date.errors %}
          {{ tour_form.tr_start_date.errors | striptags }}<br>
        {% endif %}
        {% if tour_form.tr_finish_date.errors %}
          {{ tour_form.tr_finish_date.errors | striptags }}<br>
        {% endif %}
        {% if tour_form.tr_pic.errors %}
          {{ tour_form.tr_pic.errors | striptags }}<br>
        {% endif %}
      </span>

    <div class="div-pic-input">
      <div class="fieldWrapper">
          <label class="field-label" for="{{ tour_form.tr_pic.id_for_label }}">Upload a picture for this Tour</label>
          {{ tour_form.tr_pic }}
      </div>
    </div>
    <br>

    <button type="button" class="cancel-button btn btn"
          data-href="{% url 'CLeaguesApp:league_detailsURLName' %}?league={{league.lg_id}}" >Cancel</button>
    <input type="submit" class="btn btn-primary" value="Create Tour"></input>

  </form>


{% endblock %}
